body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.home{
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    text-align: right;
    text-transform: capitalize;
    word-spacing: 20px;
    margin-right: 10px;
}
a:link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: xx-large;
}
a:visited{
    text-decoration: none;
}
.ig1{
    width: 600px;
    margin-left: 100px;
    margin-top: 100px;
   
}
.dh{
    width: 500px;
    height: 400px;   
    padding-left: 50px;
}
.dh,.ig1 {
    display: inline-block;
}
.dh button{
    text-transform: uppercase;
    background-color: bisque;
    margin-left: 150px;
    font-size: x-large;
}
.ia{
    height: 400px;
    border-radius: 20px;
    margin-left: 500px;
    margin-top: 20px;
}
.about{
    width: 600px;
    padding-left: 20px;
}
.about h1{
    color: blueviolet;
}
.about,.ia{
    display: inline-block;
}
.skill{
    margin-left: 50px;
    margin-top: 100px;
}
.i1,.i2,.i3{
    width: 200px;
    height: 200px;
}
.box1,.box2,.box3{
    display: inline-block;
    margin: 100px;
    border: solid black 5px;
    padding: 1px;
    text-align: center;
}
.if{
   width: 800px;
   margin-top: 50px;
   margin-right: 10px;
   
}
.cnt{
    width: 500px; 
    background-color:rgb(209, 142, 142);
    padding: 10px;
}
.if,.cnt{
    display: inline-block;
    margin: 50px;
}
form{
    background-color: rgb(209, 142, 142);
    text-align: left;
    line-break:  5px;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  